{% extends 'base.html' %}

{% block content %}
    {% if predictions and img_data %}
        <h3> Image Classification result as below !</h3>
        <br/><br/>
        {% for i in range(length) %}
            <img src="data:image/jpeg;base64,{{ img_data[i] }}">
            <br/><br/>
            <p class="card-text">
                <strong> Inference       :</strong> {{ predictions[i][0] }}<br/>
                <strong> Confidence      :</strong> {{ predictions[i][1] }}<br/>
            </p>
        {% endfor %}
        <br/><br/>
    {% endif %}
{% endblock %}
